/* RESET RULES */
*, ::before, ::after, img {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; /* 16px */
}

/* MAIN WRAPPER */
.main-wrapper {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  grid-template-rows: 5rem auto 1fr 1fr 5rem;
}

/* GRID STYLING && GLOBAL RULES */
header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: .5rem;
  cursor: default;
}

.call-to-action {
  grid-column: 2 / -3;
  grid-row: 2 / 3;
}

.cover-photo-img-container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  /* height: calc(100vh - 4.5rem); */
}

main {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

footer {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.flexy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}

.flexy-c {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

/* HEADER STYLING */
li a.nav-link {
  color: inherit;
  text-decoration: none;
}

header .header-img {
  width: 100%;
  height: 100%;
  max-width: 100px;
}

header .header-text:hover {
  color: green;
  text-shadow:  1px 1px 2px rgb(1 123 1 / .2 );
}

header .nav-items li {
  list-style: none;
  padding-left: .5rem;
  border-left: 1px solid transparent;
  transition: linear 1s;
}

header .nav-items li:hover {
  border-left: 1px solid green;
}

header .nav-items li a:hover {
  color: green;
}

/* CALL TO ACTION */

/* HERO STYLING */
.cover-photo-img-container {
  align-self: end;
  height: 100vh;
}
.cover-photo-img-container .cover-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  
}
